
<div class="text-gray-600 body-font header-display  bg-yellow">
    <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center container-wrapper bg-style">
      <a class=" flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 logo-wrapper">
 <img src="../../../assets/images/logo.png" alt="logo">
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center nav-wrapper">
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/projects']">FILMS</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/blog']">BLOG</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/services']">SERVICES</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/about']">ABOUT</a>
      </nav>
      <!-- <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button> -->
    </div>
  </div>
  <div class="img-wrap">

      
            <img src="../../../assets/images/Frame 21.png">
            <div class="text-overlay">
              <h2>BLODDY BOYS</h2>
       
     
        </div>
    

      

  </div>
  <section class=" relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow  py-6 sm:py-12">
<div  class=" flex-col min-w-full px-14 items-center"  >
<div class="flex-row">
    <div class="content-wraperrr" >
<h2  class="title-span" >Story</h2>
<span class="content-span">When a young Iraqi rubbish picker rescues an American sex doll from the Baghdad dumps, he crosses into a perilous red zone, where friends become enemies and nothing is certain in an explosive mix of love, war and madness.</span>
    </div>

</div>
<div class="flex-row space-itemsss">
    
    <div class="item-wraperrr" >
<h2  class="title-span" >Director </h2>
<span class="content-span">AHMED YASSIN AL- DARADJI</span>
    </div>
    <div class="item-wraperrr" >
<h2  class="title-span" >Co Producer</h2>
<span class="content-span">Mohamed Hefzy, Daniel Ziskind, Ahmed Yassin</span>
    </div>
</div>
<div class="flex-row space-itemsss">
    
    <div class="item-wraperrr" >
<h2  class="title-span" >Director </h2>
<span class="content-span">AHMED YASSIN AL- DARADJI</span>
    </div>
    <div class="item-wraperrr" >
<h2  class="title-span" >Co Producer</h2>
<span class="content-span">Mohamed Hefzy, Daniel Ziskind, Ahmed Yassin</span>
    </div>
</div>
<div class="flex-row space-itemsss">
    
    <div class="item-wraperrr" >
<h2  class="title-span" >Writer </h2>
<span class="content-span">Ahmed Yassin Al-Daradji and Margaret Glover</span>
    </div>
    <div class="item-wraperrr" >
<h2  class="title-span" >Associate Producer</h2>
<span class="content-span">Maytham Jbara</span>
    </div>
</div>
<div class="flex-row space-itemsss">
    
    <div class="item-wraperrr" >
<h2  class="title-span" >Cast </h2>
<span class="content-span">Wissam Diyaa, Jawad Al Shakarji, Hussain Muhammad Jalil, Akram Mazen Ali</span>
    </div>
    <div class="item-wraperrr" >
<h2  class="title-span" >Countries of origin</h2>
<span class="content-span">iraq, Palestine, Egypt, UK, Saudi Arabia</span>
    </div>
</div>
<div class="flex-row space-itemsss">
    
    <div class="item-wraperrr" >
<h2  class="title-span" >DOP </h2>
<span class="content-span">Duraid Munajim</span>
    </div>
    <div class="item-wraperrr" >
<h2  class="title-span" >Release date</h2>
<span class="content-span">2022</span>
    </div>
</div>
<div class="flex-row space-itemsss">
    
    <div class="item-wraperrr" >
<h2  class="title-span" >Music </h2>
<span class="content-span">Suad Bushnaq</span>
    </div>
    <div class="item-wraperrr" >
<h2  class="title-span" >Running time</h2>
<span class="content-span">117 min</span>
    </div>
</div>
<div class="flex-row style-layout ">
    <div class="flex-col" >
        <span class="title-span">Awards</span>
        <div class="flex-row  fixlayout">
               <div class="img-wrapss" >
                <img src="../../../assets/images/a1.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a2.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a3.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a4.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a5.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a6.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a7.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a8.png" alt="award">
               </div> 
               <div class="img-wrapss" >
                <img src="../../../assets/images/a9.png" alt="award">
               </div> 
        </div>
        
    </div>
 

</div>
<div class="flex-row style-layout ">
    <div class="flex-col" >
        <span class="title-span">More Projects</span>
        <div class="container "  >
            <div class="grid grid-cols-1 gap-6   lg:grid-cols-4  cards-style ">
                <a href="#" [routerLink]="['/detail']" class=" shadow-2xl relative ">
                    <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
                   
                        <img src="../../../assets/images/m1.png" class="w-full z-0  h-full    object-fill example ">
                    </div>
                </a>
                <a href="#" class=" shadow-2xl relative ">
                    <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
                   
                        <img src="../../../assets/images/m2.png" class="w-full z-0  h-full    object-fill example ">
                    </div>
                </a>
                <a href="#" class=" shadow-2xl relative ">
                    <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
                   
                        <img src="../../../assets/images/m3.png" class="w-full z-0  h-full    object-fill example ">
                    </div>
                </a> 
                <a href="#" class=" shadow-2xl relative ">
                    <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
                    
                        <img src="../../../assets/images/m4.png" class="w-full z-0  h-full    object-fill example ">
                    </div>
                </a>
    
    
            </div>
    
    </div>
        
    </div>
 

</div>
</div> 

</section>