<div class="text-gray-600 body-font bg-blue ">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col padding-fix"
  >
 <h2 class="footer-header-title">Let's Connect</h2>
    <div
      class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center width-style"
    >
      <div class="lg:w-1/3 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 sub-title"
        >
          Office
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a class="sub-content">35/5 UR Street Baghdad, IRAQ 
              1 Yorkville Ave, Unit 4107, Toronto ON CANADA M4W B1</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/3 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 sub-title"
        >
          Contact
        </h2>
        <nav class="list-none mb-10 ">
          <li>
            <a class="sub-content">Contact&#64;purattu.com
              +33 (999) 999 9999</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/3 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 sub-title"
        >
          Socials
        </h2>
        <nav class="list-none mb-10 navv">
          <li>
            <a class="sub-content">First Link</a>
          </li>
          <li>
            <a class="sub-content">Second Link</a>
          </li>
          <li>
            <a class="sub-content">Third Link</a>
          </li>
          <li>
            <a class="sub-content">Fourth Link</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</div>
