
  <div class="text-gray-600 body-font header-display  bg-yellow">
    <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center container-wrapper bg-style">
      <a class=" flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 logo-wrapper">
 <img src="../../../assets/images/logo.png" alt="logo">
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center nav-wrapper">
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/projects']">FILMS</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/blog']">BLOG</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/services']">SERVICES</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/about']">ABOUT</a>
      </nav>
      <!-- <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button> -->
    </div>
  </div>
  <div>
    <div class="carousel">
      <ul class="slides">
        <input type="radio" name="radio-buttons" id="img-1" checked />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../../assets/images/Frame 19.png">
            <div class="text-overlay">
              <h2>Qadr</h2>
              <p>TRAPPED IN A ROOM, IQBAL FINDS HERSELF IN A HARROWING PREDICAMENT AS HER DAUGHTER IS HELD UNDER THE WATCHFUL EYE OF AN ISIS SNIPER JUST BEYOND THEIR REACH. STRUGGLING WITH DOUBT,</p>
            </div>
          </div>
          <div class="carousel-controls">
            <label for="img-5" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-2" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-2" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../../assets/images/Frame 17.png">
            <div class="text-overlay">
              <h2>BLODDY BOYS</h2>
              <p>BLOODY BOYS FOLLOWS THREE FAMILIES THROUGH THREE PARALLEL STORIES; BIRGITTA WHO DECIDES TO END HER APARTMENT LEASE TO MOVE IN WITH YET ANOTHER MAN, LEAVING HER SON, SIMON, WITHOUT A PLACE TO STAY.</p>
            </div>
          </div>
          <div class="carousel-controls">
            <label for="img-1" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-3" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-3" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../../assets/images/Frame 21.png">
            <div class="text-overlay">
              <h2>MOTHER IS BACK</h2>
              <p>ABDUCTED FROM HER VILLAGE IN NORTH IRAQ BY ISIS, ELLAN, A NEWLY MARRIED, YOUNG YAZIDI WOMAN, IS FINALLY BEING RELEASED AFTER YEARS OF CAPTIVITY. </p>
            </div>
          </div>
          <div class="carousel-controls">
            <label for="img-2" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-4" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-4" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../../assets/images/Frame 23.png">
            <div class="text-overlay">
              <h2>Qadr</h2>
              <p>TRAPPED IN A ROOM, IQBAL FINDS HERSELF IN A HARROWING PREDICAMENT AS HER DAUGHTER IS HELD UNDER THE WATCHFUL EYE OF AN ISIS SNIPER JUST BEYOND THEIR REACH. STRUGGLING WITH DOUBT,</p>
            </div>
          </div>
          <div class="carousel-controls">
            <label for="img-3" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-5" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-5" />
        <li class="slide-container">
          <div class="slide-image">
            <img src="../../../assets/images/Frame 25.png">
            <div class="text-overlay">
              <h2>THE WEEKEND THIEFS</h2>
              <p>WHEN GINA BECOMES THE TARGET OF A ROBBERY, SHE'S FORCED TO SPEND A WEEKEND WITH THE THIEF WHO BROKE INTO HER HOME, REALIZING THAT THE MAN MAY NOT BE WHO SHE THOUGHT HE WAS.</p>
            </div>
          </div>
          <div class="carousel-controls">
            <label for="img-4" class="prev-slide">
              <span>&lsaquo;</span>
            </label>
            <label for="img-1" class="next-slide">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>


<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow  py-6 sm:py-12">
  <div class="w-full items-center mx-auto max-w-screen-lg">
  <h2 class="section-title" >We are Purattu film production</h2>
  <span class="section-description" >We are an independent film production company bridging the worlds of West and Middle East, with our home in Toronto and Baghdad.</span>
  </div>
</div>
<div class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow  py-6 sm:py-12">
  <div class=" flex-col w-1/2 items-center   text-wrapper">
    <span class="bar-content move-left">Hanging </span>
    <span class="bar-content move-right">Gardens</span>    
  </div>
  <div class=" flex-col w-1/2 items-center   text-wrapper">
      
  </div>
</div>
<div class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow  py-6 sm:py-12">

  <div class=" flex-col w-1/2 items-center   text-wrapper">
      
  </div>
  <div class=" flex-col w-1/2 items-center   text-wrapper">
    <span class="bar-content move-left">Bloody Boys </span>
    <span class="bar-content move-right">Bloody Boys</span>    
  </div>
</div>
<div class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow  py-6 sm:py-12">
  <div class=" flex-col w-1/2 items-center   text-wrapper">
    <span class="bar-content move-left">Qadr Qadr</span>
    <span class="bar-content move-right">Qadr Qadr</span>    
  </div>
  <div class=" flex-col w-1/2 items-center   text-wrapper">
      
  </div>

</div>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow  py-6 sm:py-12">
  <div class="w-full items-center ">
  <h2 class="partners-title" >Our Partners</h2>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
    </div>
  </div>
  </div>
</div>