<!-- 
    <div class="text-gray-600 body-font header-display header-styling ">
        <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center container-wrapper">
          <a class=" flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 logo-wrapper">
     <img src="../../../assets/images/logo.png" alt="logo">
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center nav-wrapper">
            <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/projects']">PROJECTS</a>
            <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/blog']">BLOG</a>
            <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/services']">SERVICES</a>
            <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/about']">ABOUT</a>
          </nav>
 
        </div>
    </div>
    <section class="hero flex-row ">
        <div class="flex-col w-2/3 left-container" >
            <h1 class="about-title">Who is Purattu</h1>
            <p class="about-content">Purattu Film Production was established in the center of two different worlds - Toronto and Baghdad, with a sole focus to create thought-provoking independent films that illuminate society's complexities, dive deep into the very essence of humanity, and entertain the souls. Most of our projects are international co-productions among Canada, Europe and the Middle East with production locations and talent from around the globe.</p>
        </div> 
        <div class="flex-col w-1/3 right-container">
            <img  class="imgabout1" src="../../../assets/images/about1.png" alt="about1">
        </div>
        
    </section>
    <section class="hero flex-row section-style about2wrapper">
        <div class="flex-col w-2/3 left-container" >
            <h1 class="about-title">Why Choose Purattu</h1>
            <p class="about-content">Like the innovators of old who crafted the wheel and the written word, we approach filmmaking with a contagious inventiveness. We hold deep respect for every creative endeavour, transforming the filmmaking process into a joyous leap into the realms of storytelling, and treat every project team as a family.</p>
        </div> 
        <div class="flex-col w-1/3 right-container">
            <img class="imgabout2" src="../../../assets/images/about2.png" alt="about2">
        </div>
        
    </section>
  

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">OUR TEAM</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">Alper Kamu</h2>
              <h3 class="text-gray-500 mb-3">UI Developer</h3>
              <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">Holden Caulfield</h2>
              <h3 class="text-gray-500 mb-3">UI Developer</h3>
              <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/202x202">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">Atticus Finch</h2>
              <h3 class="text-gray-500 mb-3">UI Developer</h3>
              <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/203x203">
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">Henry Letham</h2>
              <h3 class="text-gray-500 mb-3">UI Developer</h3>
              <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <div class="text-gray-600 body-font header-display bg-yellow  ff">
    <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center container-wrapper bg-style">
      <a class=" flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 logo-wrapper">
 <img src="../../../assets/images/logo.png" alt="logo">
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center nav-wrapper">
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/projects']">FILMS</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/blog']">BLOG</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/services']">SERVICES</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/about']">ABOUT</a>
      </nav>
      <!-- <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button> -->
    </div>
  </div>
  <section class="hero flex-row ">
    <div class="flex-col w-1/2 left-container" >
        <h1 class="about-title">Our Services</h1>
        <p class="about-content">With offices in Toronto and Baghdad, we offer a comprehensive range of services at every stage of film creation in both Iraq and Canada.
            Whether you're envisioning a sprawling feature film or a snappy short, we are adept at guiding your cinematic journey through the enchanting landscapes of Canada and the echoes of Sumer and Babylon in Iraq.
            At Purattu, we extend a warm welcome to individual artists as well as established film production companies and studios. Our approach is personalised, adapting to the unique requirements of each project and the needs of content producers. From the inception of creative ideas in writing rooms to full production services, picture editing, and DCP.
            Majority of our projects are treaty and non-treaty international co-productions. We aid content producers in navigating the intricacies of Canadian tax incentives, as well as applications to the funding programs of the Canadian Heritage and a variety of funds in the MENA region.</p>
            <h1 class="about-title">Why Choose Purattu</h1>
            <p class="about-content">Like the innovators of old who crafted the wheel and the written word, we approach filmmaking with a contagious inventiveness. We hold deep respect for every creative endeavour, transforming the filmmaking process into a joyous leap into the realms of storytelling, and treat every project team as a family.</p>
                <h1 class="about-title">Our Locations</h1>
                <p class="about-content">These places are where we conduct the majority of our project shootings.</p>
    </div> 
    <div class="flex-col w-1/2 right-container">
        <div class="carousel-container">
            <div #carousel class="carousel">
              <div class="carousel-item" style="background-color: #f44336; ">Item 1</div>
              <div class="carousel-item" style="background-color: #2196f3;">Item 2</div>
              <div class="carousel-item" style="background-color: #4caf50;">Item 3</div>
              <div class="carousel-item" style="background-color: #ff9800;">Item 4</div>
              <div class="carousel-item" style="background-color: #9c27b0;">Item 5</div>
            </div>
          </div>
            </div>
    
</section>











