  
    <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center container-wrapper bg-style">
      <a class=" flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 logo-wrapper">
 <img src="../../../assets/images/logo.png" alt="logo">
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center nav-wrapper">
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/projects']">FILMS</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/blog']">BLOG</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/services']">SERVICES</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/about']">ABOUT</a>
      </nav>
   
    </div>
  <section class="py-10 bg-w sm:py-16 lg:py-24 z-40 relative bg-yellow cont-style">


    <div class="container mx-auto" *ngIf="activeTab==='Released'" >
        <div class="grid grid-cols-1 gap-6   lg:grid-cols-4  cards-style ">
            <a href="#" [routerLink]="['/detail']" class=" shadow-2xl relative ">
                <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
               
                    <img src="../../../assets/images/m1.png" class="w-full z-0  h-full    object-fill example ">
                </div>
            </a>
            <a href="#" class=" shadow-2xl relative ">
                <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
               
                    <img src="../../../assets/images/m2.png" class="w-full z-0  h-full    object-fill example ">
                </div>
            </a>
            <a href="#" class=" shadow-2xl relative ">
                <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
               
                    <img src="../../../assets/images/m3.png" class="w-full z-0  h-full    object-fill example ">
                </div>
            </a> 
            <a href="#" class=" shadow-2xl relative ">
                <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
                
                    <img src="../../../assets/images/m4.png" class="w-full z-0  h-full    object-fill example ">
                </div>
            </a>


        </div>

</div>
    <div class="container mx-auto" *ngIf="activeTab==='In Devlopment'" >
        <div class="grid grid-cols-1 gap-6   lg:grid-cols-4  cards-style ">
         
            
     
            <a href="#" class=" shadow-2xl relative ">
                <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
               
                    <img src="../../../assets/images/m3.png" class="w-full z-0  h-full    object-fill example ">
                </div>
            </a> 
            <a href="#" class=" shadow-2xl relative ">
                <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
                
                    <img src="../../../assets/images/m4.png" class="w-full z-0  h-full    object-fill example ">
                </div>
            </a>


        </div>

</div>
    <div class="container mx-auto" *ngIf="activeTab==='Coming Soon'" >
        <div class="grid grid-cols-1 gap-6   lg:grid-cols-4  cards-style ">
      
         
        
            <a href="#" class=" shadow-2xl relative ">
                <div class="  h-full relative shadow-2xl shadow-green-900 overflow-hidden group ">
                
                    <img src="../../../assets/images/m4.png" class="w-full z-0  h-full    object-fill example ">
                </div>
            </a>


        </div>

</div>
<div class="button-wrapper " >
    <button (click)="clicked('Released')"class="btn-movie">Released</button>
    <button (click)="clicked('Coming Soon')"class="btn-movie">Coming Soon</button>
    <button (click)="clicked('In Devlopment')"class="btn-movie">In Devlopment</button>
    
</div>
</section>
<section class="py-10 bg-w sm:py-16 lg:py-24 z-40 relative bg-yellow">

</section>

     












